@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

html,body {
  background-color: #222;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h1 {
  text-align: center;
  color: #eee;
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}